services:
  web:
    platform: linux/amd64
    image: mahediali072/django-app:latest
    container_name: django-app
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - sqlite_data:/app/data

  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  sqlite_data: